@import "components/cq-bg";
@import "components/hero";
@import "components/list-component";

.el-section {
  padding: $vertical-spacing 0;

  &--alt {
    background-color: $gray-300;
  }

  h2 {
    color: $gray-700;
  }
}

.modules-list {
  &__item {
    height: calc(100% - 1rem);

    &__image, &__logo {
      margin: 0;
      position: relative;
      padding-top: 56.25%;
    }

    &__image {
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    &__logo {
      background-color: $gray-200;
      color: $gray-400;
      > div {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      svg {
        width: 65%;
        height: 80%;
        fill: currentColor;
      }
      img {
        width: auto;
        height: auto;
        max-width: 80%;
        max-height: 80%;
        object-fit: contain;
        filter: brightness(0) opacity(0.15);
      }
    }

    &__body {
      display: flex;
      flex-direction: column;
    }

    &__desc {
      font-size: $font-size-sm;
      color: $gray-600;
      flex: 1;
    }
  }
}

.el-grupos {
  margin-top: $vertical-spacing;
  h3{
    text-align: center;
    color: $gray-700;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    // margin: -1em;
    margin-top: 1rem;
  }
  &__grupo {
    $size: 100px;
    width: $size;
    height: $size;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(100%) opacity(.7);
    transition: all .3s;
    &:hover {
      filter: grayscale(0) opacity(1);
      text-decoration: none;
    }
    &__logo {
      width: 100%;
      height: 100%;
    }
    &__nome {
      text-align: center;
      font-family: $headings-font-family;
      font-weight: $headings-font-weight;
      font-size: $size / 5;
      color: $gray-800;
      line-height: 1.2;
    }
  }
}

$plyr-color-main: $primary;
$plyr-font-family: $font-family-base;
@import "~plyr/src/sass/plyr";
