.cq-animated-background{
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;

  span {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Camada_1' xmlns='http://www.w3.org/2000/svg' x='0' y='0' viewBox='0 0 224.1 140.1' xml:space='preserve'%3E%3Cstyle%3E.st0%7Bfill:%23fff%7D%3C/style%3E%3Cpath class='st0' d='M172.4 94.6c-2.5 6-5.9 11.4-9.8 16.5-2.7 3.4-5.7 6.6-9.2 9.2-1.4 1-2.2.9-3.1-.4-5.5-8.2-11.1-16.5-16.6-24.7-.1-.1-.2-.3-.3-.6h-9.7c.4.1.7.4 1 .8 6.3 9.5 12.7 18.9 19.1 28.4 1.3 1.9 1.1 2.5-.8 3.6-7.4 4.1-15.4 6.2-23.7 7.2-12.2 1.5-23.7-.7-34.8-5.6-1.3-.6-2.5-1.3-3.6-2.2-.9-.8-1-1.6-.3-2.6 6.5-9.6 13-19.2 19.4-28.8.3-.4.5-.6.9-.7h-9.6c-.7 1-1.3 1.9-1.9 2.8-4.9 7.3-9.9 14.7-14.8 22-1.1 1.7-1.8 1.9-3.6.7-2.8-1.8-4.9-4.3-7-6.8-4.5-5.3-8.6-10.8-11.2-17.3-.2-.5-.5-.9-.5-1.5h-6.8c.8.1 1 .6 1.5 2 4.4 11.1 11.2 20.4 20.8 27.4 15.4 11.4 32.8 16.8 52 16 5.6-.2 11-1.2 16.2-3 10.7-3.6 19.7-9.8 27.2-18.3 6-6.8 10.6-14.4 13.8-22.8.3-.8.6-1.2 1.2-1.3h-5.9.1zM224.1 48.7c-.2-1.8-1.4-3.1-3.5-3.1-12 .1-23.9 0-35.9.1h-5c-1-.1-1.5-.5-1.9-1.5-1-2.9-2.4-5.7-3.8-8.4-2.8-5.1-6.3-9.8-10.4-13.9-6.6-6.6-14.4-11.6-23-15.2-13.3-5.6-27.1-8-41.5-5.9-12.7 1.7-23.5 7-32.8 15.4-8.6 7.8-14.8 17.2-18.9 28.1-.4 1-.8 1.3-1.8 1.4H3.4c-2.2 0-3.3 1-3.3 3.3v42.2c0 1.9.8 2.9 2.5 3.2.3.1.6.1.9.1h217.3c.4 0 .8-.1 1.2-.2.1 0 .1 0 .2-.1 1-.4 1.6-1.1 1.9-2.1.1-.3.2-.7.2-1v-42c-.2-.1-.2-.3-.2-.4zm-172-3.1c.2-1.2.8-2.1 1.3-3.1 3.9-7.8 8.8-15 15.3-20.9.7-.6 1.4-1.2 2.2-1.8 1.4-1 2.2-.9 3.2.6l11.7 17.4c1.7 2.5 3.4 5.1 5.3 7.8h-39zm70.8.1h-21.6c-.8 0-1.3-.3-1.7-1-6.3-9.5-12.6-18.9-19-28.4-1.2-1.8-1.1-2.5.9-3.5 5.6-3 11.5-5 17.7-6.2 13.8-2.7 27.2-1.5 40 4.4 1.3.6 2.7 1.2 3.9 2 1.6.9 1.8 1.6.7 3.2-6.4 9.5-12.8 19.1-19.2 28.6-.4.7-.9.9-1.7.9zm48.4 0h-38.1c2.3-3.4 4.4-6.6 6.5-9.7 3.4-5.1 6.9-10.2 10.3-15.3 1.1-1.7 1.8-1.8 3.4-.6 8.3 6.6 14.2 15 18.4 24.6.4.7.5 1-.5 1z'/%3E%3C/svg%3E");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    animation: animate 25s linear infinite;
    bottom: -150px;

    &:nth-child(1){
      left: 20%;
      width: 80px;
      height: 80px;
      animation-delay: 0s;
    }

    &:nth-child(2){
      left: 5%;
      width: 20px;
      height: 20px;
      animation-delay: 2s;
      animation-duration: 12s;
    }

    &:nth-child(3){
      left: 65%;
      width: 20px;
      height: 20px;
      animation-delay: 4s;
    }

    &:nth-child(4){
      left: 35%;
      width: 60px;
      height: 60px;
      animation-delay: 0s;
      animation-duration: 18s;
    }

    &:nth-child(5){
      left: 60%;
      width: 20px;
      height: 20px;
      animation-delay: 0s;
    }

    &:nth-child(6){
      left: 70%;
      width: 110px;
      height: 110px;
      animation-delay: 3s;
    }

    &:nth-child(7){
      left: 30%;
      width: 150px;
      height: 150px;
      animation-delay: 7s;
    }

    &:nth-child(8){
      left: 45%;
      width: 25px;
      height: 25px;
      animation-delay: 15s;
      animation-duration: 45s;
    }

    &:nth-child(9){
      left: 15%;
      width: 15px;
      height: 15px;
      animation-delay: 2s;
      animation-duration: 35s;
    }

    &:nth-child(10){
      left: 80%;
      width: 150px;
      height: 150px;
      animation-delay: 0s;
      animation-duration: 11s;
    }
  }

}

@keyframes animate {

  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 0.25;
  }

  100%{
    transform: translateY(-30vh) rotate(720deg);
    opacity: 0;
  }

}
