.el-hero {
  position: relative;
  min-height: $hero-height;
  background-color: $gray-800;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;

  &.has-main-bg {
    @if variable-exists(full-bg) {
      background-image: url($full-bg);
      background-position: center bottom 30%;
    } @else if variable_exists(hero-bg) {
      background-image: url($hero-bg);
    }
  }

  &__body {
    position: relative;
    flex: 1;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: ($spacer * 3) 0;

    .container-fluid {

    }
  }

  &.has-cover &__body {
    background-image: linear-gradient(141deg, rgba(31, 25, 26, 0.4) 0%, rgba(54, 54, 54, 0.3) 71%, rgba(70, 64, 63, 0.1) 100%);
  }

  &__logo {
    height: 10rem;
    filter: drop-shadow(0 0 1rem $body-bg);
  }

  &__title {
    color: white;
    margin-bottom: 0;
  }

  &__lead {
    margin-bottom: 0;
    font-weight: 300;
    font-size: $font-size-lg;
  }

  &--group {
    background-color: transparent;
    min-height: 0;
    height: 10rem + $spacer * 6;
    margin-bottom: $spacer * -3;
    .container-fluid {
      text-align: center;
    }


  }

  &--group &__body {
    background: linear-gradient(to bottom, rgba($body-bg,0.2) 0%, rgba($body-bg, 1) 100%);
  }
}
