.lessons-list {
  &__item {
    @extend .card;
    flex-direction: row;
    padding: $card-spacer-y;

    &:not(:first-child) {
      margin-top: $spacer / 2;
    }

    &__image, &__icon {
      width: 64px;
      height: 64px;
      @include border-radius;
    }

    &__image {
      object-fit: cover;
    }

    &__icon {
      background-color: $gray-200;
      color: $gray-400;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__data {
      flex: 1;
      margin-left: $spacer;
    }

    &__title {
      margin-bottom: 0;
    }

    &__desc {
      p {
        margin-bottom: .5em;
      }
    }

    &__meta {
      color: $gray-500;
      display: flex;
      align-items: center;

      &__item {
        &:not(:first-child) {
          margin-left:$spacer;
        }
      }
    }
  }

  a#{&}__item {
    color: inherit;

    &:hover {
      box-shadow: 0 0 0 1px $primary inset;
      text-decoration: none;
    }
  }
}
